In [8]:
import pandas as pd
import path as Path

In [11]:
df = pd.read_csv("https://github.com/vaastav/Fantasy-Premier-League/raw/master/data/2022-23/players_raw.csv")

In [12]:
df.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,clean_sheets_per_90,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,...,threat_rank_type,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,5,7,409,None,None,10,0.43,84450,None,NaN,...,43,94,845607,974,742411,6473,0.4,19.2,Xhaka,3
1,0,0,27,0,0,0,0.00,153256,None,NaN,...,225,6,198317,111,271287,796,0.0,1.5,Elneny,0
2,0,0,23,None,None,0,0.00,156074,None,NaN,...,224,7,7164,25,18396,56,0.0,1.7,Holding,0
3,0,6,336,100,100,9,0.48,167199,None,NaN,...,76,67,101094,1026,132274,281,0.5,14.3,Partey,2
4,7,21,558,100,100,10,0.42,184029,3,NaN,...,10,144,5463708,20433,2999490,88511,0.6,20.6,Ødegaard,3

In [13]:
final_table_columns = ["first_name","second_name","goals_scored","assists","total_points,minutes","goals_conceded","creativity","influence","threat","bonus","bps","ict_index","clean_sheets","red_cards","yellow_cards","selected_by_percent","now_cost","element_type","team_code"]

df.drop(columns=[col for col in df if col not in final_table_columns], inplace=True)

In [14]:
df.head()

,assists,bonus,bps,clean_sheets,creativity,element_type,first_name,goals_conceded,goals_scored,ict_index,influence,now_cost,red_cards,second_name,selected_by_percent,team_code,threat,yellow_cards
0,5,7,409,10,524.6,3,Granit,23,3,131.7,449.2,49,0,Xhaka,2.6,3,342.0,3
1,0,0,27,0,5.4,3,Mohamed,2,0,1.1,4.6,41,0,Elneny,0.6,3,0.0,0
2,0,0,23,0,0.1,2,Rob,0,0,0.3,3.4,42,0,Holding,0.1,3,0.0,0
3,0,6,336,9,330.6,3,Thomas,13,3,94.6,402.2,47,0,Partey,0.4,3,211.0,2
4,7,21,558,10,867.5,3,Martin,24,9,220.7,647.2,70,0,Ødegaard,37.5,3,690.0,3

In [15]:
yearOne = 16
df["KO_Year"] = f"20{yearOne}-"

In [16]:
df.head()

,assists,bonus,bps,clean_sheets,creativity,element_type,first_name,goals_conceded,goals_scored,ict_index,influence,now_cost,red_cards,second_name,selected_by_percent,team_code,threat,yellow_cards,KO_Year
0,5,7,409,10,524.6,3,Granit,23,3,131.7,449.2,49,0,Xhaka,2.6,3,342.0,3,01/09/2016
1,0,0,27,0,5.4,3,Mohamed,2,0,1.1,4.6,41,0,Elneny,0.6,3,0.0,0,01/09/2016
2,0,0,23,0,0.1,2,Rob,0,0,0.3,3.4,42,0,Holding,0.1,3,0.0,0,01/09/2016
3,0,6,336,9,330.6,3,Thomas,13,3,94.6,402.2,47,0,Partey,0.4,3,211.0,2,01/09/2016
4,7,21,558,10,867.5,3,Martin,24,9,220.7,647.2,70,0,Ødegaard,37.5,3,690.0,3,01/09/2016

In [17]:
df["KO_Year"] = pd.to_datetime(df["KO_Year"])
df.head()

,assists,bonus,bps,clean_sheets,creativity,element_type,first_name,goals_conceded,goals_scored,ict_index,influence,now_cost,red_cards,second_name,selected_by_percent,team_code,threat,yellow_cards,KO_Year
0,5,7,409,10,524.6,3,Granit,23,3,131.7,449.2,49,0,Xhaka,2.6,3,342.0,3,2016-01-09
1,0,0,27,0,5.4,3,Mohamed,2,0,1.1,4.6,41,0,Elneny,0.6,3,0.0,0,2016-01-09
2,0,0,23,0,0.1,2,Rob,0,0,0.3,3.4,42,0,Holding,0.1,3,0.0,0,2016-01-09
3,0,6,336,9,330.6,3,Thomas,13,3,94.6,402.2,47,0,Partey,0.4,3,211.0,2,2016-01-09
4,7,21,558,10,867.5,3,Martin,24,9,220.7,647.2,70,0,Ødegaard,37.5,3,690.0,3,2016-01-09